html{
    background-color: rgba(169, 216, 234, 0.843);
}

@media only screen and (max-width: 600px) {
    body {
      background-color: pink;
    }
  }

.topnav {
    list-style-type: none;
    text-align: center;
    width: auto;
    margin: 0 0 50px 0;
    padding: 40px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}  

.topnav a{
    color: white;
    text-decoration: none;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
    background-color: black;
    cursor: pointer;
}

h1{
    font-size: 88px;
    margin: 10px;
    text-align: center;
}

.portraits{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
    width: auto;
}

.portEffect:hover{
    height: 300px;
    width: auto;
    border: solid 10px black;
}

#logo{
    border: solid black 5px;
}

.quote{
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 100px;
}

.aboutHeading{
    font-size: 60px;
    color: darkblue; 
    text-decoration: underline solid;
}

.aboutBlurb {
    font-size: 30px;
    color: darkblue;
    text-align: center;
}

.aboutPics{
    width: 400px;
    margin: 10px;
    display: block;
    align-items: center;
}

h2{
    font-size: 50px;
    margin: 10px 0 20px 0;
}

.portfolioBlurb{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
}

.submission{
    font-size: 25px;
}

form{
    display: flex;
    flex-direction: column;
    height: calc(100% + 80px);
    width: calc(50%);
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contact{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline solid black;
}
